
<div class="wrapper" >
  <mat-list>
    <h3 mat-subheader>Movies</h3>
    <mat-list-item *ngFor="let movie of movieList" class="movies">
      <a [routerLink]="['/movie', movie.movie_id]">
        <!-- <span class="badge">{{ movie.movie_id }}</span>  -->
        {{ movie.title  | titlecase }}
      </a>
    </mat-list-item>
    <mat-divider></mat-divider>
   
  </mat-list>

</div>
<div>
  <button  pButton class="full-width" (click)="showDialog()"  label="Search Movie"
    autocomplete="off"></button>

</div>

<p-dialog header="Movie" [(visible)]="display"  [width]="300">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <button pButton type="button" label="Search" (click)="searchMovie()"></button>
        <input type="text" [(ngModel)]="newMovie.title" pInputText  placeholder="Forrest Gump" autocomplete="off">
      </div>
    </div>
  </div>
  <ul *ngFor="let movie of theMovieDbResults; let i = index" [attr.data-index]="i" class="movies">
    <li (click)="createMovie(i)">
      {{movie.title}} {{movie.original_title==movie.title ? '' : '(' +movie.original_title + ')'}}
    </li>
  </ul>
</p-dialog>

