
<mat-list>
  <h3 mat-subheader>Movies</h3>
  <mat-list-item *ngFor="let movie of movieList" class="movies">
    <a [routerLink]="['/movie', movie.movie_id]">
      <!-- <span class="badge">{{ movie.movie_id }}</span>  -->
      {{ movie.title  | titlecase }}
    </a>
  </mat-list-item>
  <mat-divider></mat-divider>
 
</mat-list>
<form class="example-form">
  <mat-form-field class="full-width">
    <input  matInput  type="text" name="title" id="title" [(ngModel)]="newMovie.title" placeholder="Title" >
  </mat-form-field>
</form>


