<div *ngIf="movie">
  <h3>{{ movie.title_en }}</h3>
  <div>
    <label>Id: </label>{{ movie.movie_id }}</div>
  <div>
    <label>Name: </label>{{ movie.title_en }}
  </div>
  <div>
    <label><b>Director:</b> </label>{{ movie.director }}
  </div>
  <div>
    <label><b>Genres:</b> </label>{{ movie.genres }}
  </div>
  <div>
    <label><b>Release Date:</b> </label>{{ movie.release_date  | date: 'dd/MM/yyyy'}}
  </div>
  <div>
    <label><b>The Movie DB Rating:</b> </label>{{ movie.themoviedb_rating }}
  </div>
  <div>
    <label><b>Tagline:</b> </label>{{ movie.tagline}}
  </div>
  <div>
    <label><b>Overview:</b> </label>{{ movie.overview }}
  </div>
  <div>
    <a routerLink="/movies" routerLinkActive="active">Back</a>
  </div>
 
</div>


