
<div *ngIf="movie">
  <h3>"{{ movie.title }}"</h3>
  <div>
    <label>Id: </label>{{ movie.movie_id }}</div>
  <div>
    <label>Name: </label>
    <input [(ngModel)]="movie.title" placeholder="name"/>
  </div>
  <div>
    <label>Overivew: </label>
    <textarea type="text" id="form7" class="md-textarea form-control"  [(ngModel)]="movie.overview" ></textarea>
  </div>
  <div>
    <label>Director: </label>{{ movie.director }}</div>
  <div>
  <a routerLink="/movies" routerLinkActive="active">Back</a>
</div>

<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->