@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block !important;
    overflow: hidden !important; 
}
.full-width {
    width: 100%;
}
.half-width {
    width: 100%;
}
j

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */