@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block !important;
    overflow: hidden !important; 
}
.full-width {
    width: 100%;
}
